<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://ez-css.now.sh">
    <style>
        .done{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <main id="app">
        <h1>{{message}}</h1>
        <button @click="allDone">All Done</button>
        <button @click="removeAll">Remove All</button>
        <form @submit.prevent="addTodo">
            <label for="newTodo">NewTodo</label>
            <input type="text" name="newTodo" id="newTodo" v-model="newtodo">
            <button type="submit">Add</button>
        </form>
        <ul v-for="todo in todos">
            <input type="checkbox" v-model="todo.done">
            <li v-bind:class="{done: todo.done}">{{todo.title}}</li>
            <button @click="removeTodo(todo)">Remove</button>
        </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>